.header{
    height: 56px;
    position: relative;
    box-shadow: 0 2px 4px rgba(49, 70, 102, .1);
}
.main{
    background: #f8f9fd;
}
.leftFormItemList{
    width: 280px;
    background: #fff;
    border-right: 1px solid #eee;
    .tag{
        margin-bottom: 10px;
        margin-left: 10px;
        width: calc(50% - 15px);
    }
}
.mainFormContent{
    flex: 1;
    .bg{
        background: #fff;
        width: 780px;
        margin: 20px auto;
        border-radius: 8px;
        min-height: calc(100% - 40px);
        box-shadow: 0px 2px 14px rgba(0,0,0,.03);
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        .formItem,.dragTag{
            padding: 10px;
            border: 1px dashed #fff;
            min-height: 55px;
            &:hover{
                border-color:  #ccc;
            }
        }
        &.isDrag .formItem,&.isDrag .dragTag{
            border-color:  #ccc;
        }
        .formItem {
            position: relative;
            &.active{
                border: 1px dashed $colorPrimary;
            }
            .iconBox{
                display: none;
                position: absolute;
                right: 0;
                top: 0;
                background: #edf4ff;
                color: #666;
                transform: translateX(100%);
                z-index: 2;
                .icon{
                    padding: 5px;
                    font-size: 18px;
                    &:hover{
                        cursor: pointer;
                        color: $colorPrimary;
                    }
                }
            }
            &:hover .iconBox{
                display: block;
            }
        }
    }
    .headTitle{
        border-style: dashed;
        :global(.ant-input){
            text-align: center;
        }
    }
    .headRemark{
        border-style: dashed;
        margin-top: 16px;
    }
}
.rightItemAttrs{
    width: 250px;
    background: #fff;
    border-left: 1px solid #eee;
    padding: 20px;
}